.clear {
    clear: both;
}
header{
    background-color: rgb(231, 133, 20);
    margin-bottom: 5px;
    color: white;
}

header .navbar{
    color: white;
}


header #texto_intro{
    margin-left: 100px;
    margin-top: 123px;
    font: 25px arial;
    text-align: left;
    width: 28%;
    float: left;
    
}

  .container img {
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 20px;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    float: left;
  }
  .container:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

.titulo_suco{
    font: 25px arial;
    margin-right: 20px;
    color: rgb(0, 0, 134);
    margin-top: 50px;
    font-weight: 900;
 
}

.p_suco{
    color: gray;
    font: 11px arial;
    padding: 8px;
}
.p2_suco{
    font: 11px arial;
    color: rgb(94, 94, 94);
    font-weight: 700;
    margin-bottom: 10px;
}

.por{
    color: #313cd8;
    font: 12px arial;
    font-weight:700;
    float: left;
    margin-top:30px;
    
}

.quantidade_suco input{
    color: white;
    background-color: rgb(255, 187, 0);
    border: solid white;
    border-radius: 10px;
    font: 20px arial;
    text-align: center;
    height: 40px;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.radio {
	
	padding: 7px;
	border-radius: 3px;
	position: relative;
}

.radio input {
	width: auto;
	height: 100%;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 3px;
	padding: 8px 12px;
	background: #ffffff;
	color: #313cd8;
	font-size: 14px;
    font-weight: 700;
    border: solid 1px #313cd8; 
    margin-right: 3px;
    margin-bottom: 20px;
	transition: all 100ms linear;
}

.radio input:checked {
	background-color: #313cd8 ;
	color: #fff;
    font-weight: 700;
	box-shadow: 0 1px 1px #aa4400a6;
	text-shadow: 0 1px 0px #79485fa6;
}

.radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}

.btn-5 {
    background: #fd9001;
    color: #fff;
    
    padding: 10px 40px;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
   .btn-5:hover {
    background: #4bd679;
    color: #ffffff;
    transition-duration: 500ms;
    
     box-shadow:
     
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
  }


  footer{
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
}

footer #direitos-footer{
    text-align: center;
    margin-top: 20px;
    
}

footer hr{
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
}

footer #oportunidade-footer{
    color: rgb(61, 78, 43);
    text-transform: uppercase;
    font: 10px arial;
    font-weight: 900;
    float: left;
    margin-left: 30px;
    margin-right:30px;
    
}
footer #ouvidoria-footer{
    color: rgb(61, 78, 43);
    text-transform: uppercase;
    font: 10px arial;
    font-weight: 900;
    float: left;
    
}
footer #termos-footer{
    color: rgb(61, 78, 43);
    font: 14px arial;
    float: right;
    margin-right: 30px;
    margin-left: 30px;
    
}
footer #privacidade-footer{
    color: rgb(61, 78, 43);
    font: 14px arial;
    float: right;
  
}


  
