.clear {
    clear: both;
}
header{
    background-color: rgb(226, 125, 10);
    margin-bottom: 5px;
    color: white;
}

header #texto_intro{
    margin-left: 100px;
    margin-top: 123px;
    font: 25px arial;
    text-align: left;
    width: 28%;
    float: left;
    
}

header #carouselExampleCaptions{
    float: left;
    width: 45%;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
   
}

header .carousel-inner{
    border-radius: 3%;
}

.cx1 .card{
    margin-top: 25px;
    margin-left: 80px;
    float: left;
}
.cx2 .card{
    margin-top: 25px;
    margin-left: 10px;
    float: left;
}
.card{
    margin-top: 25px;
    margin-left: 100px;
    float: left;
    margin-bottom: 30px;
}
.card .card-title{
    color: rgb(33, 26, 131);
    text-align: center;
    font: 15px arial;
    text-transform: uppercase;
    font-weight: 700;
}
.card .card-text{
    color: rgb(247, 132, 0);
    font-size: 28px;
    font-weight: 650;
    margin: 20px; 
}
.card .compre_agora_botao a {
    background: #0c56e0;
    text-decoration: none;
    color: #fff;
    line-height: 42px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin-left: 40px;
}
  .compre_agora_botao a:hover {
    background: #d47a05;
    color: #ffffff;
     box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
}

.container img {
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 20px;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    float: left;
  }
  .container:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

.titulo_suco{
    font: 25px arial;
    margin-right: 20px;
    color: rgb(0, 0, 134);
    margin-top: 50px;
    font-weight: 900;
 
}

.p_suco{
    font: 11px arial;
    color: rgb(94, 94, 94);
    font-weight: 700;
    margin-bottom: 10px;
}

.qnt{
    color: #313cd8;
    font: 12px arial;
    font-weight:700;
    float: left;
    margin-top:30px;
    
}

.quantidade_suco input{
    color: white;
    background-color: rgb(255, 187, 0);
    border: solid white;
    border-radius: 10px;
    font: 20px arial;
    text-align: center;
    height: 40px;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.radio input {
	appearance: none;
	cursor: pointer;
	border-radius: 3px;
	padding: 8px 12px;
	background: #ffffff;
	color: #313cd8;
	font-size: 14px;
    font-weight: 700;
    border: solid 1px #313cd8; 
    margin-right: 3px;
    margin-bottom: 45px;
    margin-top: 10px;
	transition: all 100ms linear;
}

.radio input:checked {
	background-color: #313cd8 ;
	color: #fff;
    font-weight: 700;
	box-shadow: 0 1px 1px #aa4400a6;
	text-shadow: 0 1px 0px #79485fa6;
}

.radio input:before {
	content: attr(label);
	display: inline-block;
}

.btn-5 {
    background: #fd9001;
    color: #fff;
    padding: 10px 40px;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
   .btn-5:hover {
    background: #4bd679;
    color: #ffffff;
    transition-duration: 300ms;
  }




