.clear {
    clear: both;
}
header{
    background-image: linear-gradient(rgb(0, 71, 6), rgb(115, 255, 152));
    margin-bottom: 5px;
    color: white;
}

header .navbar{
    color: white;
}


header #texto_intro{
    margin-left: 100px;
    margin-top: 123px;
    font: 25px arial;
    text-align: left;
    width: 28%;
    float: left;
    
}

header #carouselExampleCaptions{
    float: left;
    width: 45%;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
   
}


header .carousel-inner{
    border-radius: 3%;
}

.cx1 .card{
    margin-top: 25px;
    margin-left: 80px;
    float: left;
}
.cx2 .card{
    margin-top: 25px;
    margin-left: 10px;
    float: left;
}


.card{
    margin-top: 25px;
    margin-left: 100px;
    float: left;
}

.card .card-title{
    color: rgb(33, 26, 131);
    text-align: center;
    font: 15px arial;
    text-transform: uppercase;
    font-weight: 700;
}

.card .card-text{
    color: rgb(247, 132, 0);
    font-size: 28px;
    font-weight: 650;
    margin: 20px;
    
    
}



.card .btn-primary{
    font-size: 17px;
    font-weight: 650;
    margin-left: 40px;
    
    
}


footer{
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
}

footer #direitos-footer{
    text-align: center;
    margin-top: 20px;
    
}

footer hr{
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
}

footer #oportunidade-footer{
    color: rgb(61, 78, 43);
    text-transform: uppercase;
    font: 10px arial;
    font-weight: 900;
    float: left;
    margin-left: 30px;
    margin-right:30px;
    
}
footer #ouvidoria-footer{
    color: rgb(61, 78, 43);
    text-transform: uppercase;
    font: 10px arial;
    font-weight: 900;
    float: left;
    
}
footer #termos-footer{
    color: rgb(61, 78, 43);
    font: 14px arial;
    float: right;
    margin-right: 30px;
    margin-left: 30px;
    
}
footer #privacidade-footer{
    color: rgb(61, 78, 43);
    font: 14px arial;
    float: right;
  
}

